<?xml version="1.0"?>
<!--
/**
 * Copyright (c) 2025-2026. Volodymyr Hryvinskyi. All rights reserved.
 * Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
 * GitHub: https://github.com/hryvinskyi
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <csp>
            <general>
                <enabled_rules>1</enabled_rules>
                <enabled_reports>1</enabled_reports>
                <enable_header_splitting>0</enable_header_splitting>
                <max_header_size>4096</max_header_size>
                <enable_value_optimization>0</enable_value_optimization>
                <enable_redundant_wildcard_removal>0</enable_redundant_wildcard_removal>
            </general>
            <policies>
                <storefront_hyva_checkout_index_index>
                    <scripts>
                        <policy_id>script-src</policy_id>
                        <inline>0</inline>
                        <event_handlers>1</event_handlers>
                    </scripts>
                </storefront_hyva_checkout_index_index>
                <storefront>
                    <scripts>
                        <policy_id>script-src</policy_id>
                        <self>1</self>
                        <inline>1</inline>
                        <eval>1</eval>
                        <dynamic>0</dynamic>
                    </scripts>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </storefront>
                <admin>
                    <frame-ancestors>
                        <inline>0</inline>
                    </frame-ancestors>
                </admin>
            </policies>
        </csp>
    </default>
</config>
