<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * Copyright (c) 2025-2026. Volodymyr Hryvinskyi. All rights reserved.
 * Author: Volodymyr Hryvinskyi <volodymyr@hryvinskyi.com>
 * GitHub: https://github.com/hryvinskyi
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Configuration readers -->
    <preference for="Hryvinskyi\Csp\Api\Config\RulesConfigInterface" type="Hryvinskyi\Csp\Model\Config"/>
    <preference for="Hryvinskyi\Csp\Api\Config\OptimizationConfigInterface" type="Hryvinskyi\Csp\Model\Config"/>
    <preference for="Hryvinskyi\Csp\Api\Config\HeaderSplittingConfigInterface" type="Hryvinskyi\Csp\Model\Config"/>
    <preference for="Hryvinskyi\Csp\Api\Config\ReportingConfigInterface" type="Hryvinskyi\Csp\Model\Config"/>
    <preference for="Hryvinskyi\Csp\Api\Config\ReportCleanupConfigInterface" type="Hryvinskyi\Csp\Model\Config"/>

    <!-- Data and repositories -->
    <preference for="Hryvinskyi\Csp\Api\Data\WhitelistInterface" type="Hryvinskyi\Csp\Model\Whitelist"/>
    <preference for="Hryvinskyi\Csp\Api\Data\ReportInterface" type="Hryvinskyi\Csp\Model\Report"/>
    <preference for="Hryvinskyi\Csp\Api\Data\ReportGroupInterface" type="Hryvinskyi\Csp\Model\ReportGroup"/>
    <preference for="Hryvinskyi\Csp\Api\Data\ViolationInterface" type="Hryvinskyi\Csp\Model\Report\Violation"/>
    <preference for="Hryvinskyi\Csp\Api\Data\PolicyInterface" type="Hryvinskyi\Csp\Model\Policy\Policy"/>
    <preference for="Hryvinskyi\Csp\Api\Data\WhitelistSearchResultsInterface" type="Hryvinskyi\Csp\Model\WhitelistSearchResults"/>
    <preference for="Hryvinskyi\Csp\Api\Data\ReportSearchResultsInterface" type="Hryvinskyi\Csp\Model\ReportSearchResults"/>
    <preference for="Hryvinskyi\Csp\Api\Data\ReportGroupSearchResultsInterface" type="Hryvinskyi\Csp\Model\ReportGroupSearchResults"/>
    <preference for="Hryvinskyi\Csp\Api\WhitelistRepositoryInterface" type="Hryvinskyi\Csp\Model\WhitelistRepository"/>
    <preference for="Hryvinskyi\Csp\Api\ReportRepositoryInterface" type="Hryvinskyi\Csp\Model\ReportRepository"/>
    <preference for="Hryvinskyi\Csp\Api\ReportGroupRepositoryInterface" type="Hryvinskyi\Csp\Model\ReportGroupRepository"/>
    <preference for="Hryvinskyi\Csp\Model\Whitelist\Command\GetListInterface" type="Hryvinskyi\Csp\Model\Whitelist\Command\GetList"/>

    <!-- Services -->
    <preference for="Hryvinskyi\Csp\Api\DynamicPolicyRegistryInterface" type="Hryvinskyi\Csp\Model\DynamicPolicyRegistry"/>
    <preference for="Hryvinskyi\Csp\Api\CspHashGeneratorInterface" type="Hryvinskyi\Csp\Model\CspHashGenerator"/>
    <preference for="Hryvinskyi\Csp\Api\RedundancyCalculatorInterface" type="Hryvinskyi\Csp\Model\Whitelist\RedundancyCalculator"/>
    <preference for="Hryvinskyi\Csp\Api\HashValidationCalculatorInterface" type="Hryvinskyi\Csp\Model\Whitelist\HashValidationCalculator"/>
    <preference for="Hryvinskyi\Csp\Api\ReportCleanupInterface" type="Hryvinskyi\Csp\Model\Report\Cleanup"/>
    <preference for="Hryvinskyi\Csp\Model\Policy\DocumentSchemeInterface" type="Hryvinskyi\Csp\Model\Response\RequestDocumentScheme"/>
    <preference for="Hryvinskyi\Csp\Model\Store\StoreHostsProviderInterface" type="Hryvinskyi\Csp\Model\Store\StoreHostsProvider"/>
    <preference for="Hryvinskyi\Csp\Model\Report\RateLimiter\ReportRateLimiterInterface" type="Hryvinskyi\Csp\Model\Report\RateLimiter\CacheReportRateLimiter"/>
    <preference for="Hryvinskyi\Csp\Model\Report\ViolationRecorderInterface" type="Hryvinskyi\Csp\Model\Report\ViolationRecorder"/>

    <!-- Policy header processing -->
    <preference for="Hryvinskyi\Csp\Api\CspHeaderProcessorInterface" type="Hryvinskyi\Csp\Model\Response\CspHeaderProcessor"/>
    <preference for="Hryvinskyi\Csp\Api\PolicySplitterInterface" type="Hryvinskyi\Csp\Model\Policy\Split\VerifiedPolicySplitter"/>
    <preference for="Hryvinskyi\Csp\Api\ResponseHeaderLinesInterface" type="Hryvinskyi\Csp\Model\Response\LaminasHeaderLines"/>
    <preference for="Hryvinskyi\Csp\Api\OversizedHeaderNoticeInterface" type="Hryvinskyi\Csp\Model\Response\OversizedHeaderNotice"/>
    <type name="Hryvinskyi\Csp\Model\Response\CspHeaderProcessor">
        <arguments>
            <argument name="headerNames" xsi:type="array">
                <item name="enforced" xsi:type="string">Content-Security-Policy</item>
                <item name="report_only" xsi:type="string">Content-Security-Policy-Report-Only</item>
            </argument>
            <argument name="logger" xsi:type="object">Hryvinskyi\Csp\Model\Logger</argument>
        </arguments>
    </type>
    <!-- Split strategy; the verified splitter keeps its parts only when they are safe to send -->
    <type name="Hryvinskyi\Csp\Model\Policy\Split\VerifiedPolicySplitter">
        <arguments>
            <argument name="strategy" xsi:type="object">Hryvinskyi\Csp\Model\Policy\Split\DirectiveFamilySplitter</argument>
            <argument name="logger" xsi:type="object">Hryvinskyi\Csp\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\Csp\Model\Policy\Split\DirectiveFamilySplitter">
        <arguments>
            <argument name="logger" xsi:type="object">Hryvinskyi\Csp\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\Csp\Model\Response\LaminasHeaderLines">
        <arguments>
            <argument name="multipleHeaderClasses" xsi:type="array">
                <item name="content-security-policy" xsi:type="string">Laminas\Http\Header\ContentSecurityPolicy</item>
                <item name="content-security-policy-report-only" xsi:type="string">Laminas\Http\Header\ContentSecurityPolicyReportOnly</item>
            </argument>
        </arguments>
    </type>

    <!-- Header optimisation steps, applied in sort order -->
    <type name="Hryvinskyi\Csp\Model\Policy\PolicyOptimizer">
        <arguments>
            <argument name="steps" xsi:type="array">
                <item name="remove_duplicate_sources" xsi:type="object" sortOrder="10">Hryvinskyi\Csp\Model\Policy\Optimization\RemoveDuplicateSources</item>
                <item name="strip_host_schemes" xsi:type="object" sortOrder="20">Hryvinskyi\Csp\Model\Policy\Optimization\StripHostSchemes</item>
                <item name="remove_covered_hosts" xsi:type="object" sortOrder="30">Hryvinskyi\Csp\Model\Policy\Optimization\RemoveCoveredHosts</item>
                <item name="consolidate_trusted_subdomains" xsi:type="object" sortOrder="40">Hryvinskyi\Csp\Model\Policy\Optimization\ConsolidateTrustedSubdomains</item>
                <item name="remove_redundant_directives" xsi:type="object" sortOrder="50">Hryvinskyi\Csp\Model\Policy\Optimization\RemoveRedundantDirectives</item>
            </argument>
        </arguments>
    </type>

    <!-- Violation report parsers -->
    <type name="Hryvinskyi\Csp\Model\Report\Parser\ParserPool">
        <arguments>
            <argument name="parsers" xsi:type="array">
                <item name="legacy" xsi:type="object">Hryvinskyi\Csp\Model\Report\Parser\LegacyReportParser</item>
                <item name="reporting_api" xsi:type="object">Hryvinskyi\Csp\Model\Report\Parser\ReportingApiParser</item>
            </argument>
        </arguments>
    </type>

    <!-- Report cleanup modes -->
    <type name="Hryvinskyi\Csp\Model\Report\Cleanup">
        <arguments>
            <argument name="strategies" xsi:type="array">
                <item name="date" xsi:type="object">Hryvinskyi\Csp\Model\Report\Cleanup\ByAgeStrategy</item>
                <item name="count" xsi:type="object">Hryvinskyi\Csp\Model\Report\Cleanup\ByCountStrategy</item>
            </argument>
            <argument name="logger" xsi:type="object">Hryvinskyi\Csp\Model\Logger</argument>
        </arguments>
    </type>

    <!-- Whitelist import formats -->
    <type name="Hryvinskyi\Csp\Model\Import\RowReaderPool">
        <arguments>
            <argument name="readers" xsi:type="array">
                <item name="csv" xsi:type="object">Hryvinskyi\Csp\Model\Import\CsvRowReader</item>
                <item name="xml" xsi:type="object">Hryvinskyi\Csp\Model\Import\XmlRowReader</item>
            </argument>
        </arguments>
    </type>

    <!-- Content scanned for inline scripts -->
    <type name="Hryvinskyi\Csp\Model\ScriptHash\StoreContentScanner">
        <arguments>
            <argument name="sources" xsi:type="array">
                <item name="page" xsi:type="object">Hryvinskyi\Csp\Model\ScriptHash\CmsPageSource</item>
                <item name="block" xsi:type="object">Hryvinskyi\Csp\Model\ScriptHash\CmsBlockSource</item>
                <item name="config" xsi:type="object">Hryvinskyi\Csp\Model\ScriptHash\ConfigValueSource</item>
            </argument>
        </arguments>
    </type>

    <!-- Admin grids -->
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="hryvinskyi_csp_report_listing_data_source" xsi:type="string">Hryvinskyi\Csp\Model\ResourceModel\Report\Grid\Collection</item>
                <item name="hryvinskyi_csp_whitelist_listing_data_source" xsi:type="string">Hryvinskyi\Csp\Model\ResourceModel\Whitelist\Grid\Collection</item>
                <item name="hryvinskyi_csp_reportgroup_listing_data_source" xsi:type="string">Hryvinskyi\Csp\Model\ResourceModel\ReportGroup\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\Csp\Model\ResourceModel\Report\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">hryvinskyi_csp_violation_report</argument>
            <argument name="resourceModel" xsi:type="string">Hryvinskyi\Csp\Model\ResourceModel\Report</argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\Csp\Model\ResourceModel\ReportGroup\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">hryvinskyi_csp_violation_report_group</argument>
            <argument name="resourceModel" xsi:type="string">Hryvinskyi\Csp\Model\ResourceModel\ReportGroup</argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\Csp\Model\ResourceModel\Whitelist\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">hryvinskyi_csp_whitelist</argument>
            <argument name="resourceModel" xsi:type="string">Hryvinskyi\Csp\Model\ResourceModel\Whitelist</argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\Csp\Model\Config\Source\Algorithm">
        <arguments>
            <argument name="algorithms" xsi:type="array">
                <item name="sha256" xsi:type="string" sortOrder="1">sha256</item>
                <item name="sha384" xsi:type="string" sortOrder="2">sha384</item>
                <item name="sha512" xsi:type="string" sortOrder="3">sha512</item>
            </argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\Csp\Model\Config\Source\Value">
        <arguments>
            <argument name="values" xsi:type="array">
                <item name="host" xsi:type="string" sortOrder="1">host</item>
                <item name="hash" xsi:type="string" sortOrder="2">hash</item>
            </argument>
        </arguments>
    </type>

    <!-- Policy sources and header processing -->
    <type name="Magento\Csp\Model\CompositePolicyCollector">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="whitelist_db" xsi:type="object" sortOrder="4">Hryvinskyi\Csp\Model\Collector\WhitelistDbCollector\Proxy</item>
                <item name="store_url" xsi:type="object" sortOrder="5">Hryvinskyi\Csp\Model\Collector\StoreUrlCollector\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Csp\Api\ModeConfigManagerInterface">
        <plugin name="hryvinskyi_csp_apply_reporting_mode" type="Hryvinskyi\Csp\Plugin\Csp\Api\ModeConfigManagerInterface\ApplyReportingMode"/>
    </type>
    <type name="Magento\Csp\Api\CspRendererInterface">
        <plugin name="hryvinskyi_csp_process_headers" type="Hryvinskyi\Csp\Plugin\Csp\Api\CspRendererInterface\ProcessCspHeaders"/>
    </type>
    <type name="Magento\Framework\App\Response\HttpInterface">
        <plugin name="fix_send_csp_report" type="Hryvinskyi\Csp\Plugin\Framework\App\Response\HttpInterface\FixSendCspReport"/>
    </type>

    <!-- Command line -->
    <type name="Magento\Framework\Console\CommandList">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="hryvinskyi_csp_generate_script_hashes" xsi:type="object">Hryvinskyi\Csp\Command\GenerateCspScriptHashesCommand\Proxy</item>
                <item name="hryvinskyi_csp_flush_cache" xsi:type="object">Hryvinskyi\Csp\Command\FlushCspCacheCommand\Proxy</item>
                <item name="hryvinskyi_csp_clean_old_reports" xsi:type="object">Hryvinskyi\Csp\Command\CleanOldReportsCommand\Proxy</item>
            </argument>
        </arguments>
    </type>

    <!-- Module log: var/log/hryvinskyi/csp.log while debug mode is on -->
    <virtualType name="Hryvinskyi\Csp\Model\Handler" type="Hryvinskyi\Logger\Model\Handler">
        <arguments>
            <argument name="config" xsi:type="object">Hryvinskyi\Csp\Model\Config</argument>
            <argument name="fileName" xsi:type="string">/var/log/hryvinskyi/csp.log</argument>
        </arguments>
    </virtualType>
    <virtualType name="Hryvinskyi\Csp\Model\Logger" type="Hryvinskyi\Logger\Model\Logger">
        <arguments>
            <argument name="name" xsi:type="string">HryvinskyiCsp</argument>
            <argument name="handlers" xsi:type="array">
                <item name="error" xsi:type="object">Hryvinskyi\Csp\Model\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Hryvinskyi\Csp\Model\Whitelist\ActiveEntries">
        <arguments>
            <argument name="logger" xsi:type="object">Hryvinskyi\Csp\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\Csp\Model\Store\StoreHostsProvider">
        <arguments>
            <argument name="logger" xsi:type="object">Hryvinskyi\Csp\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\Csp\Model\Report\RateLimiter\CacheReportRateLimiter">
        <arguments>
            <argument name="logger" xsi:type="object">Hryvinskyi\Csp\Model\Logger</argument>
        </arguments>
    </type>
    <type name="Hryvinskyi\Csp\Cron\CleanOldReports">
        <arguments>
            <argument name="logger" xsi:type="object">Hryvinskyi\Csp\Model\Logger</argument>
        </arguments>
    </type>
</config>
